.SimulinkModelIcon_icon,
.SubSystemIcon_icon,
.Chart_icon,
.BlockIcon_icon,
.eml_icon,
.annotation_icon,
.LineIcon_icon,
.State_icon,
.Transition_icon,
.MaskedSubsystemIcon_icon { background-image: url('icon.png'); width: 16px; height: 16px; }

.SimulinkModelIcon_icon { background-position: -0px; }
.SubSystemIcon_icon { background-position: -16px; }
.Chart_icon { background-position: -32px; }
.BlockIcon_icon { background-position: -48px; }
.eml_icon { background-position: -64px; }
.annotation_icon { background-position: -80px; }
.LineIcon_icon { background-position: -96px; }
.State_icon { background-position: -112px; }
.Transition_icon { background-position: -128px; }
.MaskedSubsystemIcon_icon { background-position: -144px; }
